body 
{
    width: 680px;
    margin: auto;
    height: auto;
}

header
{
    width: 680px;
    height: 30px;
    text-align: center;
    background-color: blue;
    color: white;
}

nav
{
    width: 680px;
    height: 30px;
    text-align: center;
    background-color: green;
    color: white;
}

    nav a
    {
        color: white;
        margin: 20px;
    }

    nav li
    {
        display: inline;
    }

footer
{
    position: relative;
    top: -200px;
    width: 680px;
    height: 20px;
    text-align: center;
    background-color: green;
    color: white;
}

article
{
    width: 66%;
    height: 200px;
    text-align: center;
    background-color: pink;
    color: white;
}

article section
{
    height: 50px;
    background-color: brown;
    color: white;
    margin: 15px 0px 15px;
}

aside
{
    position: relative;
    left: 450px;
    top: -200px;
    width: 229px;
    height: 199px;
    text-align: center;
    background-color: cyan;
    color: white;
}